.container {
  display: flex;
  flex-direction: column;
}

.personal_info {
  display: flex;
  flex-direction: row;
}

.personal_info .info_item {
  display: flex;
  flex-direction: row;
  margin-right: 1rem;
  margin-left: 0.1rem;
  padding-right: 1rem;
  border-right: 1px solid #0000008f;
}

.personal_info .info_item:last-child {
  border-right: none;
}

.info_item .info_label {
  margin-right: 0.5rem;
  font-weight: bold;
}

.contact_info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid var(--ink-dark);
}

.collapse_inside {
  padding: 1rem 1.3rem;
}

/*
  PERSONAL INFO
*/
@media only screen and (max-width: 570px) {
  .personal_info {
    flex-direction: column;
  }

  .personal_info .info_item {
    border-right: none;
    margin-bottom: 0.5rem;
  }

  .personal_info .info_item:last-child {
    margin-bottom: 0.1rem;
  }
}

/*
  CONTACT INFO
*/
@media only screen and (max-width: 768px) {
  .contact_info {
    flex-direction: column;
  }
}
