.container_max {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
}

.container > .text {
  flex: 1;
  overflow: hidden;
  padding: 2rem 1rem;
  position: relative;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--ink-dark);
  transition: padding 0.9s cubic-bezier(0.86, 0, 0.07, 1);
  justify-content: center;
}

.container > .text::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--ink-dark);
  top: 0;
  left: 100%;
  background-image: url('/public/about/text.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: left 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.container > .text:nth-child(1)::after {
  background-image: url('/public/about/char.jpeg');
  background-position: top;
}

.container > .text:nth-child(2)::after {
  background-image: url('/public/about/me.jpeg');
}

.container > .text.show::after {
  left: 0;
}

.container > .text.show {
  padding: 4.2rem 1rem;
}

.container > .text.show:nth-child(1):after {
  transition-delay: 0.15s;
}
.container > .text.show:nth-child(2):after {
  transition-delay: 0.25s;
}
.container > .text.show:nth-child(3):after {
  transition-delay: 0.05s;
}

.container > .text:nth-child(1):after {
  transition-delay: 0.15s;
}
.container > .text:nth-child(2):after {
  transition-delay: 0.25s;
}
.container > .text:nth-child(3):after {
  transition-delay: 0.05s;
}

.container_max > button {
  outline: none;
  border: none;
  background-color: var(--ink-medium);
  color: var(--ink-dark);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.47, 0, 0.745, 0.715);
  padding: 1rem 1.3rem;
  text-align: end;
}

.container_max > button:hover {
  background-color: var(--ink-highlight);
  color: var(--ink-dark);
}

.container_max > .active {
  background-color: var(--ink-dark);
  color: var(--ink-light);
}

@media only screen and (min-width: 700px) {
  .container {
    flex-direction: row;
  }

  .container > .text {
    padding: 3rem 1rem;
  }
  .container > .text.show {
    padding: 4rem 1rem;
  }
}

@media only screen and (min-width: 1024px) {
  .container > .text {
    padding: 4rem 3rem;
  }
  .container > .text.show {
    padding: 10rem 1rem;
  }
}
