.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.main_text {
  width: 100%;
  padding: 0.25rem 1rem;
  padding-bottom: 0.5rem;
  display: flex;
  align-items: end;
  border-bottom: 1px solid var(--ink-dark);
}

.main_text > div {
  transition: all 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.container > .main_text:nth-child(even) {
  justify-content: end;
}

.container > .main_text:nth-child(odd) {
  justify-content: start;
}

.container > .main_text:nth-child(even):hover > div {
  margin-right: 10%;
  transition-delay: 0.15s;
}

.container > .main_text:nth-child(odd):hover > div {
  margin-left: 10%;
  transition-delay: 0.15s;
}

.raise_container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.image_container {
  padding-top: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--ink-dark);
  width: 100%;
}

.image_container.prior_text {
  padding-right: 1rem;
}

.image_container.prior_image {
  padding-left: 1rem;
}

.image_text {
  display: flex;
  padding: 1.1rem;
  align-items: center;
  justify-content: center;
}

.image_text {
  text-align: center;
  flex: 1;
}

.image {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image > img {
  width: 100%;
  animation: move 5s ease infinite alternate;
  transform: rotate(0deg);
}

@keyframes move {
  from {
    transform: rotate(-2deg);
  }
  to {
    transform: rotate(2deg);
  }
}

.with_contact {
  display: flex;
  flex-direction: column;
}

.image_text > button {
  margin-top: 0.7rem;
  outline: none;
  border: 1px dashed var(--ink-dark);
  background-color: var(--ink-highlight);
  color: var(--ink-light);
  padding: 0.25rem;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.47, 0, 0.745, 0.715);
}

.image_text > button:hover {
  background-color: var(--ink-light);
  color: var(--ink-dark);
  box-shadow: 3px 3px 0px 0px var(--ink-dark);
  transform: translateX(-4px) translateY(-4px);
}

@media only screen and (min-width: 768px) {
  .raise_container {
    flex-direction: row;
  }

  .image_container {
    border-right: 1px solid var(--ink-dark);
  }

  .image_container.prior_text {
    padding-right: 0.5rem;
  }

  .image_container.prior_image {
    padding-left: 2rem;
  }
}
